* {
    margin: 0;
    box-sizing: border-box;
}


.painting-container {
    display: flex;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.pallete {
    width: 150px;
    height: 100%;
    border: 1px solid black;
    padding-top: 5%;
    
}

.color-selection-container {
    
    display:flex;
}

.color-menu {
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 3px;
    margin: auto;
    margin-left: 25px;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    transform: scale(0);

}

@keyframes popOut {
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes popIn {
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.color-menu::after{
    content: '';
    border: black 1px solid;
    border-right: none;
    border-top: none;
    width:21px;
    height:21px;
    transform: translateX(-182px) translateY(1px) rotate(45deg);

}



.colors-button {
    margin: auto;
    margin-left: 35px;
    padding: 5% 10%;
    width:fit-content;
    background: linear-gradient(to left, lightgrey, white);
    border-left: 3px solid lightgrey;
    border-top: 3px solid lightgrey;
    border-right: 3px solid grey;
    border-bottom: 3px solid grey;
    
}

.colors-button:hover {
    cursor: pointer;
}

.colors-button:active {
    border-left: 3px solid grey;
    border-top: 3px solid grey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    background: linear-gradient(to right, grey, white);
}

#red-1 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(255, 0, 0);
}

#red-2 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(223, 0, 0);
}

#red-3 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(189, 0, 0);
}

#red-4 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(160, 0, 0);
}

#red-5 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(117, 0, 0);
}

#green-1 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color:rgb(0, 255, 0) ;
}
#green-2 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color:rgb(0, 211, 0) ;
}
#green-3 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color:rgb(0, 184, 0) ;
}
#green-4 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color:rgb(0, 148, 0) ;
}
#green-5 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color:rgb(0, 97, 0) ;
}

#blue-1 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(0, 0, 255);
}
#blue-2 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(0, 0, 211);
}
#blue-3 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(0, 0, 184);
}
#blue-4 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(0, 0, 148);
}
#blue-5 {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(0, 0, 97);
}

#yellow {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: yellow;
}
#pink {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: pink;
}

#purple {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: purple;
}

#mustard {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: rgb(243, 228, 17);
}

#cornflowerblue {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: cornflowerblue;
}
.canvas  {
    
    width: 650px;
    height: 800px;
    border: 1px solid red;
}

.pixel {
    float: left;
    width: 5%;
    height:5%;
    outline: 1px blue solid;
}


